<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="/css/lightbox.css" rel="stylesheet" />
    <link href="StyleSheet.css" rel="stylesheet" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />

  
  <style>
    .head{
        font-weight: 700;
        color:black;
        font-size: 50px;
    }
 </style>
</head>

<body>
 <div class="h_bg">
<div class="wrap">
<div class="header">
		<div class="logo">
			<h1 class="head"><a href="/"><img style="width:80px;height:60px;"src="/Images/07.jpg" alt=""><strong>Blood Bank Management System</a></h1>   
		</div>
	</div>
</div>
</div>
<div class="nav_bg">
<div class="wrap">
				<% include partials/header.ejs %>

	</div>
<div style="height:530px; width:700px; margin:auto; margin-top:10px; margin-bottom:10px; background-color:#f8f1e4; border:2px solid red; box-shadow:4px 1px 20px black;">
     <form method="post" action="/donor">
<table cellpadding="0" cellspacing="0" style="margin:auto; width:100%; " >

    <tr><td colspan="2"  align="center"><img src="/Images/donor.png" width="300px" height="80px"  /></td></tr>
   
<tr><td colspan="2">&nbsp;</td></tr>
   
                <tr><td  style=" padding-left:20px;" ><img src="/Images/sidebanner.jpg" width="170px" class="shaddoww"/>&nbsp; </td>
                    <td style="vertical-align:top;padding-top:20px;">
                    <table cellpadding="0" cellspacing="0" style="width:100%; height:400px;">

<tr><td class="lefttd">Donor Name:</td><td><input type="text" name="det[name]" required="required" pattern="[a-zA-Z _]{4,15}" title="please enter only character  between 4 to 15 for donor name" /></td></tr>

<tr><td class="lefttd">Gender</td><td><input name="det[gender]" type="radio" value="male" >Male<input name="det[gender]" type="radio" value="female" >Female</td></tr>

<tr><td class="lefttd">Age</td><td><input type="number" name="det[age]" required="required" pattern=.{18,100} title="please enter only  numbers between 2 to 2 for age" /></td></tr>
<tr><td class="lefttd">Mobile No</td><td><input type="number" name="det[phone]" required pattern=".{10,10}" title="phone no is not valid" /></td></tr>
<tr><td class="lefttd">City</td><td><input type="text" name="det[city]" required="required" </td></tr>
<tr><td class="lefttd"> Blood Group </td><td>

 <select required name="det[blood]">
                                    <option disabled="disabled" selected="selected">Choose option</option>
                                    <option value="A+">A+</option>
                                    <option value="B+">B+</option>
                                    <option value="O+">O+</option>
                                    <option value="A-">A-</option>
                                    <option value="B-">B-</option>
                                    <option value="O-">O-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>

</td></tr>
<tr><td class="lefttd">E-Mail</td><td><input type="email" name="det[email]" required="required" /></td></tr>

<tr><td class="lefttd">Password</td><td><input type="password" id="Password" name="det[password]" required pattern="[a-zA-Z0-9].{4,10}" title="please enter only character or numbers between 5 to 10 for password" /></td></tr>

<tr><td>&nbsp;</td><td><input type="submit" value="Registered" name="sbmt" style="border:0px; background:linear-gradient(#900,#D50000); width:100px; height:30px; border-radius:10px 1px 10px 1px; box-shadow:1px 1px 5px black; color:white; font-weight:bold; font-size:14px; text-shadow:1px 1px 6px black; "></td></tr></table>
</td></tr>
</table>
</form>
        </div>
          
        <div class="clear"></div>
<div  class="ftr-bg" style="margin-top:100px; ">
<div class="wrap">
<div  class="footer">
	<div class="f_nav">
		<ul>
			  <li class="active"><a href="/">Home</a></li>     
      <li><a href="/donor">Donor</a></li>
            <li><a href="/login">log In</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact Us</a></li>
			
            </ul>
	</div>
		<div class="copy">
			<p class="title">© All Rights Reserved | Design by Group 29 |</p>
		</div>
	<div class="clear"></div>
</div>
</div>
</div>

</body>
 <script type="text/javascript">
    function Validate() {
        var password = document.getElementById("Password");
        var confirmPassword = document.getElementById("txtConfirmPassword");
        if (password.value != confirmPassword.value) {
            alert("Passwords do not match.");
            password.textContent=" ";
            confirmPassword.textContent=" ";
            return false;
        }
        return true;
    }
</script>
</html>